{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block content %}
    <div class="col-sm-10 my-5">
        <h3>About page</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis temporibus omnis unde vitae voluptas atque, voluptatibus consequuntur excepturi officia aliquid quaerat nihil cumque et consectetur voluptate recusandae doloremque quas at laboriosam, ab quos soluta blanditiis! Voluptatum doloribus consequatur distinctio dolore adipisci rerum aut, provident excepturi, error enim eveniet odio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis temporibus omnis unde vitae voluptas atque, voluptatibus consequuntur excepturi officia aliquid quaerat nihil cumque et consectetur voluptate recusandae doloremque quas at laboriosam, ab quos soluta blanditiis! Voluptatum doloribus consequatur distinctio dolore adipisci rerum aut, provident excepturi, error enim eveniet odio!</p>
    </div>
    {% endblock content %}
</body>
</html>