{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
  <div class="col-md-3">
    <h3 class="text-white my-5">Login Page</h3>
    {% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="text-primary {{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {%endif%}
    <form action="" method="post" novalidate>
    {% csrf_token %}
    {% for fm in form %}
    <div class="form-group">
        {{fm.label_tag}}
        {{fm}}
        {{fm.errors|striptags}}
    </div> <br>
    {% endfor %}
    <input type="submit" value="Login" class="btn btn-primary">
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="alert alert-danger my-3">{{error}}</p>
    </form>
    {% endfor %}
    {%endif%}
  </div>
    {% endblock content %}
</body>
</html>